# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

# Test binary, built with `go test -c`
*.test

# Node / Frontend dependencies
node_modules/

# Generated Tailwind CSS file
public/output.css

# Log files
*.log
npm-debug.log*

# IDE / Editor folders
.vscode/
.idea/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment variables file
.env