<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <title>Book List</title>
</head>
<body class="bg-slate-100 text-slate-800 p-8">
    <h1 class="text-3xl font-bold mb-6">My Books</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {{range .Books}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Title}}</td>
                <td>{{.Author}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>